<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="head :: head"></head>
<body>
<body class="bg-dark">
<nav th:replace="navbar :: navbar"></nav>

<div th:if="${success}" class="alert alert-success">
    <strong th:text="${success}"></strong>
</div>

<section class="vh-100">
  <div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col col-xl-10">
        <div class="card" style="border-radius: 1rem; border:none; box-shadow:2px 2px 2px 4px rgba(0,0,0,0.5)">
          <div class="row g-0">
            <div class="col-md-5 col-lg-5 d-none d-md-block">
              <img
              style="height:100%; object-fit:cover; object-position:center; border-radius: 1rem 0 0 1rem;" 
              src="https://img.freepik.com/free-vector/red-blood-cells-flowing-background_1017-17842.jpg?size=626&ext=jpg"
               alt="login form"
               class="img-fluid" />
            </div>
            <div class="col-md-6 col-lg-7 d-flex align-items-center">
              <div class="card-body p-4 text-black">

                <form action="/admin/login/check" method="POST">
                 

                  <h5 class="fw-normal mb-3 pb-3" style="letter-spacing: 1px;">Login as a Admin</h5>

                  <div class="form-outline mb-4">
                    <label class="form-label" for="email">Email address:</label>
                    <input type="email" id="email" name="email" class="form-control form-control-lg" required/>
                  </div>

                  <div class="form-outline mb-4">
                    <label class="form-label" for="password">Password:</label>
                    <input type="password" id="password" name="password" class="form-control form-control-lg" required />
                  </div>
                    
                  <p th:if="${error}" th:text="${error}" class="text-danger"></p>
                  

                  <div class="pt-1 mb-4">
                    <button class="btn btn-dark btn-lg btn-block" type="submit">Login</button>
                  </div>

                </form>

              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

</body>
</html>